@import "../lib/lib";
@import "modules/app";


.index {
  background-color: wheat;
}

.content{
  display:flex;
  justify-content: space-around;
  align-items: center;
  padding: 10%;
  flex-wrap: wrap;

  .chal {
    border: 2px solid green;
    padding: 3%;
    position: relative;
  }
}

.lock {
    position: absolute;
    right: 0; top: 0;
    width: 40%;
}


.headerIndex {
  padding: 5%;
  background-color: lightpink;

  h1 {
  color: black;
  }
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item{
  margin:5px;
  border: 2px solid grey;
}