@import "../lib/lib";
@import "modules/app";
 @import "compass/css3";

@font-face {
  font-family: 'MyWebFont';
  src:  url('../font/KBZipaDeeDooDah.ttf') format('woff2');
        // url('myfont.woff') format('woff');
  // font-family: 'MyWebFont2';
  
        
}
@font-face {
  font-family: 'MyWebFont2';
  src:  url('../font/DKCoolCrayon.ttf') format('woff');
}

.index {
  background-color: whitesmoke;
}


.content {
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 10%;
  flex-wrap: wrap;

  .chal {
    background: radial-gradient(#4FB4E8 0%, #C195D3 30%, whitesmoke 85%);
    border-radius: 50%;
     padding: 7%;
    margin: 7%;
    position: relative;
    font-family: MyWebFont2; 
      h2 {
        font-size: 8vw;
        color: midnightblue;
        padding: 3%;
      }
  }
}

.lock {
    position: absolute;
    right: 0; top: 0;
    width: 40%;
}




.headerIndex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #76EEC6;

    .headline {
      display: flex;
      align-items: center;
      justify-content: center;

        a {
            font-family: MyWebFont;
            font-size: 8vw;
            letter-spacing: 0.2em;
            color:  white;
        }
    }
    .progressBar{
      height: 40%;
    }
}


.item{
  border: 2px solid grey;
}

.footMain{
  // height: 10%;
  background-color: #76EEC6;
  
  h3 {
  font-size: 5vw;
    // display: flex;   
    // align-items: center;
    // justify-content: center;    
    // margin: 5%
  }
  .nav {
    display: flex;   
    align-items: center;
    justify-content: space-around;
    background-color: whitesmoke;
  }
  a {
  font-size: 4vw;    
}
}
 
 

// html,body{margin:0;padding:0;width:100%;height:100%;}
// @keyframes bob{0%{top:0;}50%{top:0.2em;}}
// body{
//   background:#53bfe0;
//   vertical-align:middle;
//   text-align:center;
//   transform: translate3d(0, 0, 0);
//   &:before{
//       content: '';
//       display: inline-block;
//       height: 100%;
//       vertical-align: middle;
//       margin-right: -0.25em;
//     }
// }

// .scene{
//   display:inline-block;
//   vertical-align:middle;
// }

// .text{
//   color:white;
//   font-size:2em;
//   font-family:helvetica;
//   font-weight:bold;
// }

// .sheep{
//   display:inline-block;
//   position:relative;
//   font-size:1em;
//   $skin:#211e21;
//   *{
//     transition:transform 0.3s;
//   }
//   .top{
//     position:relative;
//     top:0;
//     animation:bob 1s infinite;
//   }
//   &:hover{
//       .head{
//         transform:rotate(0deg);
//         .eye{
//           width:1.25em;
//           height:1.25em;
//           &:before{
//             right:30%;
//           }
//         }
//       }
//       .top{
//         animation-play-state:paused
//       }
//     }
//   .head{
//     display:inline-block;
//     width:5em;
//     height:5em;
//     border-radius:100%;
//     background:$skin;
//     vertical-align:middle;
//     position:relative;
//     top:1em;
//     transform:rotate(30deg);
//     &:before{
//         content:'';
//         display:inline-block;
//         width:80%;
//         height:50%;
//         background:$skin;
//         position:absolute;
//         bottom:0;
//         right:-10%;
//         border-radius:50% 40%;
//       }
//     &:hover{
//           .ear{
//               &.one,&.two{transform:rotate(0deg);}
//           }
//         }
//     .eye{
//       display:inline-block;
//       width:1em;
//       height:1em;
//       border-radius:100%;
//       background:white;
//       position:absolute;
//       overflow:hidden;
//       &:before{
//           content:'';
//           display:inline-block;
//           background:black;
//           width:50%;
//           height:50%;
//           border-radius:100%;
//           position:absolute;
//           right:10%;
//           bottom:10%;
//           transition:all 0.3s;
//         }
//       &.one{
//         right:-2%;
//         top:1.7em;
//       }
//       &.two{
//         right:2.5em;
//         top:1.7em;
//       }
//     }
//     .ear{
//         background:$skin;
//         width:50%;
//         height:30%;
//         border-radius:100%;
//         position:absolute;
//         &.one{
//           left:-10%;
//           top:5%;
//           transform:rotate(-30deg);
//         }
//         &.two{
//           top:2%;
//           right:-5%;
//           transform:rotate(20deg);
//         }
//       }
//   }
//   .body{
//     display:inline-block;
//     width:7em;
//     height:7em;
//     border-radius:100%;
//     background:white;
//     position:relative;
//     vertical-align:middle;
//     margin-right:-3em;
//   }
//   .legs{
//     display:inline-block;
//     position:absolute;
//     top:80%;
//     left:10%;
//     z-index:-1;
//     .leg{
//       display:inline-block;
//       background:darken($skin,5%);
//       width:0.5em;
//       height:2.5em;
//       margin:0.2em;
//     }
//   }
//   &:before{
//       content:'';
//       display:inline-block;
//       position:absolute;
//       top:112%;
//       width:100%;
//       height:10%;
//       border-radius:100%;
//       background:rgba(black,0.4);
//   }
// }





        