@import "../lib/lib";
@import "modules/app";

@font-face {
  font-family: 'MyWebFont';
  src:  url('../font/KBZipaDeeDooDah.ttf') format('woff2'),
        // url('myfont.woff') format('woff');
}

.index {
  background-color: whitesmoke;
}


.content{
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 10%;
  flex-wrap: wrap;
  height: 600px;

  .chal {
    border: 2px solid green;
    padding: 3%;
    position: relative;
    // width: 200px;
  }
}

.lock {
    position: absolute;
    right: 0; top: 0;
    width: 40%;
}




.headerIndex {
  background-color: #76EEC6;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 30%;
  font-size: 16px;

    .headline {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20%;
      order: 1;
      height: 15%;

      a {
        font-family: MyWebFont;
        font-size: 1.2em;
        letter-spacing: 0.2em;
        color:  white;
      }



  }


  .navMain{
    display:flex;
    order:2;
    flex-direction: row;
    flex-wrap: nowrap;


    .nav{
      //display: flex;
      .navOpt{
        font-size: 0.8em;
      }
    }

    .nav > li > a {
      display:flex;
      position:static;
      padding: 0;
    }

    .navOpt{
      height: 50%;
      display:inline-flex;
      }

    .progressBar{
      height: 40%;
    }
  }

}


.item{
  border: 2px solid grey;
}

.footMain{
  height: 10%;
  background-color: #76EEC6;
}

