
//iphone 6 	375 � 667//
.game4{
    height: 80%;
    width: 100%;
    background: url("../../img/game4Img/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    flex:1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

  .objFrame{
        min-height: 70%;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 1%;
        padding: 1%;
        order: 1;



        .objectBox {
            width: 50%;
            height: 10%;
            order:2;
        }

        .flower1{

            margin: 40% 10% 0 1%;
            width: 10%;
            height: 2%;

        }

        .flower2{
            margin: 40% 2% 0 1%;
            width: 7%;
            height: 2%;
        }

        .flower3{
            width: 7%;
            height: 3%;
            margin: 40% 0 0 1%;
        }

        .flower4{
            margin: 30% 0 0 1%;
            height: 4%;
            width: 7%;
        }

        .bird1{
            margin: 15% 0 0 25%;
            height: 14%;
            width: 14%;
            position: relative;

        }

        .bird2{
            margin-top: 18%;
            height: 24%;
            width: 24%;
            position: relative;


        }

        .bird3{
            margin-top: 25%;
            padding-top: 6%;
            height: 34%;
            width: 34%;
            position: relative;

        }

        .tree1{
            height: 24%;
            width: 24%;
            margin: 10% 0 10% 0;
        }

        .tree2{
            height: 24%;
            width: 24%;
            margin: 30% 0 10% 0;
        }

        .tree3{
            height: 14%;
            width: 14%;
            margin: 30% 0 10% 0;
        }

        .tree4{
            margin: 25% 0 10% 0;
            width: 20%;
            height: 20%;
        }

        .tree5{
            margin: 35% 0 10% 0;
            width: 24%;
            height: 24%;
        }
    }

    .answers{
        display:flex;
        justify-content: space-around;
        height: 40%;
        padding: 6%;
        flex-wrap: wrap;
        margin: 4% 1% 0% 1%;
        order:3;


        .answer{
            list-style-type: none;
            padding: 4%;
            border: 2px solid red;
            width: 130px;
            border-radius: 100%;
            height: 100px;
            text-align: center;
            align-content: center;
            justify-content: center;
        }
    }
  .questDis{
    border: 3px solid darkseagreen;
    padding: 2%;
    margin: 3%;
    text-align: center;
    order:2;
    align-content: center;
    width: 60%;
    height: 20%;
  }
}

.foot{
    width: 100%;
    height: 10%;
}



.flyRight{
  animation: fly 7s;
  animation-direction: normal;
}
@keyframes fly {
    0%   {right: 40px;}
    10%  {right: 60px;}
    20%  {right: 80px;}
    30%  {right: 90px;}
    40%  {right: 120px;}
    50%  {right: 150px;}
    60%  {right: 180px;}
    70%  {right: 220px;}
    80%  {right: 250px;}
    100% {right: 350px;}
}



.opacityChange{
  animation: opacityFrame 7s;
}

@keyframes opacityFrame {
    0%   {opacity:1;}
    25%  {opacity:0;}
    50%  {opacity:1;}
    75%  {opacity:0;}
    100% {opacity:1;}
}
